@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', serif;
  background-color: #484d5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
i {
  font-size: 20px;
  color: #c0ccd4;
  align-items: flex-start;
  position: relative; 
  left: 380px;
  top: -90px;
}
h1 {
  font-family:  'Oswald', sans-serif;
  color: #ffce00;
  text-transform: uppercase;
  font-size: 4rem;
}

h2 {
  font-family: 'Cardo',   serif;
  font-size: 20px;
  color: #c0ccd4;
  align-items: center;
  padding: 0px 30px;
}
canvas {
  width: 65%;
  height: 65%;
  background-color: #fff;
}